# Paths ----------------------------------------------
unmy_hdr *

set folder           = "~/mail/posteo"                   # mailbox location
set spoolfile        = "~/mail/posteo/inbox"             # inbox
set record           = "~/mail/posteo/sent"              # sent mail
set postponed        = "~/mail/posteo/drafts"
set from = "Ch.Langer@posteo.de"
set realname = "Christian Langer"
set sendmail = "/usr/bin/msmtp -a posteo"
set envelope_from_address = "ch.langer@posteo.de"

set my_name ="Christian Langer
set my_from = "ch.langer@posteo.de"
set my_fingerprint = "B053 3B8F DA4E 651C 1A07  D6F9 7BAC 46E8 ADC1 A7EC"

set signature = "echo \"$my_name\nemail:\t$my_from\nGPG:\t$my_fingerprint\n\n$(fortune bofh-excuses)\"|" 

unmy_hdr *
unset use_from
unset use_domain
unset user_agent
my_hdr BCC: ch.langer@posteo.de
my_hdr REPLY-TO: ch.langer@posteo.de

mailboxes "+-- Posteo -----------"
mailboxes = "+inbox"
mailboxes = "+archive"
mailboxes = "+drafts"
mailboxes = "+sent"
mailboxes = "+spam"
mailboxes = "+trash"

set pgp_sign_as = "0xADC1A7EC"
set crypt_autosign = yes
set pgp_use_gpg_agent = yes
