#------------------------------------------------------------
# Vi Key Bindings
#------------------------------------------------------------

bind pager,index       gg       first-entry
bind pager,index       G        last-entry
bind pager,index       j        next-line
bind pager,index       k        previous-line

bind index              space   collapse-thread
bind index,pager        B       sidebar-toggle-visible
